@model WebEpione.Models.VisitReasonViewModel


@{
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}






<div class="col-xl-9 col-lg-8">

    <div class="tabs_styled_2">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="book-tab" data-toggle="tab" href="#book" role="tab" aria-controls="book">Your performance</a>
            </li>


        </ul>
        <!--/nav-tabs -->

        <div class="tab-content">

            <div class="tab-pane fade show active" id="book" role="tabpanel" aria-labelledby="book-tab">

                <div class="form-group add_bottom_45">
                    <div id="calendar"></div>
                    <input type="hidden" id="my_hidden_input">

                </div>


                <!-- /row -->

                <div class="main_title_3">
                    <h3> Your visit reasons </h3>
                </div>



                <h3>Are you sure you want to delete this?</h3>
                <div>

                    <dl class="dl-horizontal">
                      

                        <dd>
                            @Html.DisplayFor(model => model.VRDescription)
                        </dd>

                       

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" /> |
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    }
                </div>
</div>
</div>
</div>
</div>
